### Built-in Data Structures, Functions,

#### 数据结构和序列

In [1]:
tup = 4, 5, 6
tup

(4, 5, 6)

In [3]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [4]:
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [5]:
tuple([4, 0, 2])

(4, 0, 2)

In [7]:
tup[0]

's'

In [10]:
tup = tuple(['foo',[1, 2], True])
tup[2]

True

In [9]:
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [11]:
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [14]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [17]:
(4, None, 'foo') + (6,) + ('bar',)

(4, None, 'foo', 6, 'bar')

In [18]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [19]:
tup = (4, 5, 6)
a, b, c = tup
b

5

In [21]:
tup = (4, 5, 6, 7)
a, b = tup
b

ValueError: too many values to unpack (expected 2)

In [23]:
tup = 4, 5, (6, 7)
a, b, c = tup
c

(6, 7)

In [24]:
tup = 4, 5, (6, 7)
a, b, (c,d)= tup
c

6

In [25]:
a, b = 1, 2
a

1

In [26]:
b, a = a, b
b

1

In [27]:
seq = [(1, 2, 3),(4, 5, 6),(7, 8, 9)]
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a,b,c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [28]:
values = 1, 2, 3, 4, 5
a, b, *rest = values
a, b

(1, 2)

In [31]:
a, b, *_ = values

In [30]:
rest

[3, 4, 5]

In [32]:
a = (1, 2, 3, 4, 2, 2,)
a.count(2)

3

In [33]:
a_list = [2, 3, 7, None]
tup = ('foo', 'bar', 'baz')
b_list = list(tup)
b_list

['foo', 'bar', 'baz']

In [34]:
b_list[1] = 'peekaboo'
b_list

['foo', 'peekaboo', 'baz']

In [35]:
gen = range(10)
gen

range(0, 10)

In [36]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [37]:
b_list.append('dwarf')
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [38]:
b_list.insert(1, 'red')
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [39]:
b_list.pop(2)
b_list

['foo', 'red', 'baz', 'dwarf']

In [40]:
b_list.remove('dwarf')
b_list

['foo', 'red', 'baz']

In [41]:
'foo' in b_list

True

In [42]:
[4, None, 'foo'] + [7, 5, (2, 3)]

[4, None, 'foo', 7, 5, (2, 3)]

In [43]:
x = [4, None, 'foo']
x.extend([7, 5, (2, 3)])
x

[4, None, 'foo', 7, 5, (2, 3)]

In [45]:
a = [7, 2, 5, 1, 3]
a.sort()

In [46]:
a

[1, 2, 3, 5, 7]

In [47]:
b = ['saw','link','sixty','i']
b.sort(key = len)
b

['i', 'saw', 'link', 'sixty']

In [53]:
import bisect #排序模块
c = [1, 2, 2, 3, 8 ,3, 4]
c.sort()
bisect.bisect(c, 2)
bisect.bisect(c, 5)
bisect.insort(c, 6)
c

[1, 2, 2, 3, 3, 4, 6, 8]

In [54]:
dir(bisect)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'bisect',
 'bisect_left',
 'bisect_right',
 'insort',
 'insort_left',
 'insort_right']

In [55]:
data = [4, 2, 9, 7]
data.sort()
data

[2, 4, 7, 9]

###### bisect.insort(data, x)
在不改变序列顺序的情况下插入

In [56]:
bisect.insort(data, 3)
data

[2, 3, 4, 7, 9]

###### 查找该数值将会插入的位置并返回，而不会插入

In [57]:
bisect.bisect(data, 1)

0

In [58]:
data

[2, 3, 4, 7, 9]

###### 用于处理将要插入重复数值的情况，并返回位置

In [59]:
bisect.bisect_left(data, 4)

2

In [60]:
bisect.bisect_right(data, 4)

3

###### 对应的插入函数是insort_left和insort_right

In [62]:
bisect.insort_left(data, 4)

In [63]:
data

[2, 3, 4, 4, 4, 7, 9]

In [64]:
seq = [4, 5, 6, 3, 4, 7, 2]
seq[1:4]

[5, 6, 3]

In [65]:
seq[3:4] = [6, 3]
seq

[4, 5, 6, 6, 3, 4, 7, 2]

In [66]:
seq[:5]

[4, 5, 6, 6, 3]

In [67]:
seq[3:]

[6, 3, 4, 7, 2]

In [68]:
seq[-4:]

[3, 4, 7, 2]

In [69]:
seq[::2]

[4, 6, 3, 7]

In [70]:
seq[::-1]

[2, 7, 4, 3, 6, 6, 5, 4]

#### Build-in Sequence Functions

###### enumerate()的用法说明
内置函数，枚举
对于一个可迭代的（iterable）/可遍历的对象（如列表、字符串），enumerate将其组成一个索引序列，利用它可以同时获得索引和值
enumerate多用于在for循环中得到计数

In [71]:
some_list = ['foo', 'baz', 'bar']
mapping = {}
for i,v in enumerate(some_list):
    mapping[v] = i
mapping

{'bar': 2, 'baz': 1, 'foo': 0}

In [72]:
list1 = ["这", "是", "一个", "测试"]
for i in range(len(list1)):
    print(i, list1[i])

0 这
1 是
2 一个
3 测试

In [73]:
list1 = ["这", "是", "一个", "测试"]
for index, item in enumerate(list1):
    print(index,item)

0 这
1 是
2 一个
3 测试

###### enumerate还可以接收第二个参数。用于指定索引起始值

In [74]:
list1 = ["这", "是", "一个", "测试"]
for index, item in enumerate(list1, 1):
    print(index, item)

1 这
2 是
3 一个
4 测试

###### 用于统计文件的行数
count = len(open(filepath,'r').readlines())
但是文件较大时可以用enumerate():

###### 
count = 0
for index, line in enumerate(open(filepath,'r')):
    count += 1

In [75]:
sorted([7, 1, 2, 3, 5, 0, 4, 2])

[0, 1, 2, 2, 3, 4, 5, 7]

In [76]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [78]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
zipped = zip(seq1,seq2)

In [79]:
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [80]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [81]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}:{1},{2}'.format(i, a, b))

0:foo,one
1:bar,two
2:baz,three

In [82]:
pitchers = [('Nolan', 'Ryan'),('Roger', 'Clemens'),
           ('Schilling', 'Curt')]
first_names, last_names = zip(*pitchers)
first_names

('Nolan', 'Roger', 'Schilling')

In [83]:
last_names

('Ryan', 'Clemens', 'Curt')

In [84]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

###### reversed()函数是返回序列seq的反向访问的迭代子，不改变原对象

In [88]:
list1 = ['google','runoob','taobao','baidu']
list1.reverse()
print("列表反转后：",list1)

列表反转后： ['baidu', 'taobao', 'runoob', 'google']

###### 1、参数是列表

In [85]:
l = [1, 2, 3, 4, 5]

In [89]:
ll = reversed(l)

In [90]:
ll

In [91]:
for i in ll:
    print(i,)

5
4
3
2
1

###### 第二次遍历为空

In [92]:
for i in ll:
    print(i)

In [93]:
l = [3, 4, 5, 6]
ll = reversed(l)

In [94]:
l

[3, 4, 5, 6]

In [95]:
ll

In [96]:
list(ll)

[6, 5, 4, 3]

###### list()第二次为空

In [97]:
list(ll)

[]

###### 2、 参数是元组

In [98]:
t = (4, 5, 6)
tt = reversed(t)

In [99]:
t

(4, 5, 6)

In [100]:
tt

In [101]:
tuple(tt)

(6, 5, 4)

In [102]:
tuple(tt)

()

###### 3、参数是字符串

In [103]:
s = 'abcc'
ss = reversed(s)

In [104]:
s

'abcc'

In [105]:
ss

In [106]:
list(ss)

['c', 'c', 'b', 'a']

In [107]:
list(ss)

[]

###### reversed()后，只在第一次遍历时返回值 
That’s because reversed creates an iterator, which is already spent when you’re calling list(ll) for the second time.

In [108]:
empty_dict = {}
d1 = {'a' : 'some value', 'b': [1,2,3,4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [109]:
d1[7] = 'an integer'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [110]:
d1['b']

[1, 2, 3, 4]

In [111]:
'b' in d1

True

In [112]:
d1[5] = 'some value'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [113]:
d1['dummy'] = 'another value'
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [114]:
del d1[5]

In [115]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [116]:
ret = d1.pop('dummy')
ret

'another value'

In [117]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [118]:
list(d1.keys())

['a', 'b', 7]

In [119]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [120]:
d1.update({'b' : 'foo', 'c' : 12})
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

In [121]:
mapping = dict(zip(range(5), reversed(range(5))))
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [122]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}