### Getting Started with Pandas

In [1]:
import pandas as pd

In [2]:
from pandas import Series, DataFrame

In [3]:
import numpy as np
np.random.seed(12345)

In [7]:
import matplotlib.pyplot as plt
plt.rc('figure',figsize=(10, 6))#显示图像的最大范围
PREVIOUS_MAX_ROWS = pd.options.display.max_rows
pd.options.display.max_rows = 20
np.set_printoptions(precision=4, suppress=True)

###### 在notebook中显示图像
%matplotlib inline

###### Series

In [8]:
obj = pd.Series([4, 7, -5, 3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [9]:
obj.values

array([ 4,  7, -5,  3], dtype=int64)

In [10]:
obj.index  #like range(4)

RangeIndex(start=0, stop=4, step=1)

In [11]:
obj2 = pd.Series([4, 7, -5, 3], index = ['d', 'b', 'a', 'c'])
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [12]:
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [13]:
obj2['a']

-5

In [14]:
obj2['d'] = 6

In [15]:
obj2[['c','a','d']]

c    3
a   -5
d    6
dtype: int64

In [16]:
obj2[obj2 > 0]

d    6
b    7
c    3
dtype: int64

In [17]:
obj2 * 2

d    12
b    14
a   -10
c     6
dtype: int64

In [18]:
np.exp(obj2)

d     403.428793
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

In [19]:
'b' in obj2

True

In [20]:
'e' in obj2

False

In [21]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj3 = pd.Series(sdata)
obj3

Ohio       35000
Oreagon    16000
Texas      71000
Utah        5000
dtype: int64

In [22]:
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj4 = pd.Series(sdata, index=states)
obj4

California        NaN
Ohio          35000.0
Oreagon       16000.0
Texas         71000.0
dtype: float64

In [26]:
obj5 = pd.Series([35000,71000,16000,5000],index = ['California', 'Ohio', 'Oregon', 'Texas'])
obj5

California    35000
Ohio          71000
Oregon        16000
Texas          5000
dtype: int64

In [27]:
pd.isnull(obj4)

California     True
Ohio          False
Oreagon       False
Texas         False
dtype: bool

In [28]:
pd.notnull(obj4)

California    False
Ohio           True
Oreagon        True
Texas          True
dtype: bool

In [29]:
pd.isnull(obj5)

California    False
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [30]:
obj4.isnull()

California     True
Ohio          False
Oreagon       False
Texas         False
dtype: bool

In [31]:
obj3 + obj4

California         NaN
Ohio           70000.0
Oreagon        32000.0
Texas         142000.0
Utah               NaN
dtype: float64

In [32]:
obj5.name = 'population'
obj5.index.name = 'state'
obj5

state
California    35000
Ohio          71000
Oregon        16000
Texas          5000
Name: population, dtype: int64

In [34]:
obj.index = ['Bob', 'Steve', 'Jeff', 'Ryan']
obj

Bob      4
Steve    7
Jeff    -5
Ryan     3
dtype: int64

In [35]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data)

In [36]:
frame

   pop   state  year
0  1.5    Ohio  2000
1  1.7    Ohio  2001
2  3.6    Ohio  2002
3  2.4  Nevada  2001
4  2.9  Nevada  2002
5  3.2  Nevada  2003

In [37]:
frame.head()

   pop   state  year
0  1.5    Ohio  2000
1  1.7    Ohio  2001
2  3.6    Ohio  2002
3  2.4  Nevada  2001
4  2.9  Nevada  2002

In [38]:
pd.DataFrame(data, columns = ['year', 'state', 'pop'])

   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9
5  2003  Nevada  3.2

In [39]:
frame2 = pd.DataFrame(data,columns = ['year', 'state', 'pop', 'debt'],
                     index = ['one',' two', 'three', 'four', 'five', 'six'])
frame2

       year   state  pop debt
one    2000    Ohio  1.5  NaN
 two   2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN
six    2003  Nevada  3.2  NaN

In [40]:
frame2.columns

Index(['year', 'state', 'pop', 'debt'], dtype='object')

In [41]:
frame2.loc['three']

year     2002
state    Ohio
pop       3.6
debt      NaN
Name: three, dtype: object

In [43]:
frame2['debt'] = 16.4
frame2

       year   state  pop  debt
one    2000    Ohio  1.5  16.4
 two   2001    Ohio  1.7  16.4
three  2002    Ohio  3.6  16.4
four   2001  Nevada  2.4  16.4
five   2002  Nevada  2.9  16.4
six    2003  Nevada  3.2  16.4

In [44]:
frame2['debt'] = np.arange(6)
frame2

       year   state  pop  debt
one    2000    Ohio  1.5     0
 two   2001    Ohio  1.7     1
three  2002    Ohio  3.6     2
four   2001  Nevada  2.4     3
five   2002  Nevada  2.9     4
six    2003  Nevada  3.2     5

In [51]:
val = pd.Series([-1.2, -1.5, -1.7], index = ['two', 'four', 'five'])
print(val)

two    -1.2
four   -1.5
five   -1.7
dtype: float64

In [52]:
frame2['debt'] = val
frame2

       year   state  pop  debt
one    2000    Ohio  1.5   NaN
 two   2001    Ohio  1.7   NaN
three  2002    Ohio  3.6   NaN
four   2001  Nevada  2.4  -1.5
five   2002  Nevada  2.9  -1.7
six    2003  Nevada  3.2   NaN

In [46]:
frame2['eastern'] = frame2.state == 'Ohio'
frame2

       year   state  pop  debt eastern
one    2000    Ohio  1.5   NaN    True
 two   2001    Ohio  1.7   NaN    True
three  2002    Ohio  3.6   NaN    True
four   2001  Nevada  2.4  -1.5   False
five   2002  Nevada  2.9  -1.7   False
six    2003  Nevada  3.2   NaN   False

In [47]:
del frame2['eastern']
frame2.columns

Index(['year', 'state', 'pop', 'debt'], dtype='object')

In [48]:
frame3 = pd.DataFrame(pop)
frame3

NameError: name 'pop' is not defined