### Built-in Data Structures, Functions,

#### 数据结构和序列

In [1]:
tup = 4, 5, 6
tup

(4, 5, 6)

In [3]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [4]:
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [5]:
tuple([4, 0, 2])

(4, 0, 2)

In [7]:
tup[0]

's'

In [10]:
tup = tuple(['foo',[1, 2], True])
tup[2]

True

In [9]:
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [11]:
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [14]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [17]:
(4, None, 'foo') + (6,) + ('bar',)

(4, None, 'foo', 6, 'bar')

In [18]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [19]:
tup = (4, 5, 6)
a, b, c = tup
b

5

In [21]:
tup = (4, 5, 6, 7)
a, b = tup
b

ValueError: too many values to unpack (expected 2)

In [23]:
tup = 4, 5, (6, 7)
a, b, c = tup
c

(6, 7)

In [24]:
tup = 4, 5, (6, 7)
a, b, (c,d)= tup
c

6

In [25]:
a, b = 1, 2
a

1

In [26]:
b, a = a, b
b

1

In [27]:
seq = [(1, 2, 3),(4, 5, 6),(7, 8, 9)]
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a,b,c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [28]:
values = 1, 2, 3, 4, 5
a, b, *rest = values
a, b

(1, 2)

In [31]:
a, b, *_ = values

In [30]:
rest

[3, 4, 5]

In [32]:
a = (1, 2, 3, 4, 2, 2,)
a.count(2)

3

In [33]:
a_list = [2, 3, 7, None]
tup = ('foo', 'bar', 'baz')
b_list = list(tup)
b_list

['foo', 'bar', 'baz']

In [34]:
b_list[1] = 'peekaboo'
b_list

['foo', 'peekaboo', 'baz']

In [35]:
gen = range(10)
gen

range(0, 10)

In [36]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [37]:
b_list.append('dwarf')
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [38]:
b_list.insert(1, 'red')
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [39]:
b_list.pop(2)
b_list

['foo', 'red', 'baz', 'dwarf']

In [40]:
b_list.remove('dwarf')
b_list

['foo', 'red', 'baz']

In [41]:
'foo' in b_list

True

In [42]:
[4, None, 'foo'] + [7, 5, (2, 3)]

[4, None, 'foo', 7, 5, (2, 3)]

In [43]:
x = [4, None, 'foo']
x.extend([7, 5, (2, 3)])
x

[4, None, 'foo', 7, 5, (2, 3)]

In [45]:
a = [7, 2, 5, 1, 3]
a.sort()

In [46]:
a

[1, 2, 3, 5, 7]

In [47]:
b = ['saw','link','sixty','i']
b.sort(key = len)
b

['i', 'saw', 'link', 'sixty']

In [53]:
import bisect #排序模块
c = [1, 2, 2, 3, 8 ,3, 4]
c.sort()
bisect.bisect(c, 2)
bisect.bisect(c, 5)
bisect.insort(c, 6)
c

[1, 2, 2, 3, 3, 4, 6, 8]

In [54]:
dir(bisect)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'bisect',
 'bisect_left',
 'bisect_right',
 'insort',
 'insort_left',
 'insort_right']

In [55]:
data = [4, 2, 9, 7]
data.sort()
data

[2, 4, 7, 9]

###### bisect.insort(data, x)
在不改变序列顺序的情况下插入

In [56]:
bisect.insort(data, 3)
data

[2, 3, 4, 7, 9]

###### 查找该数值将会插入的位置并返回，而不会插入

In [57]:
bisect.bisect(data, 1)

0

In [58]:
data

[2, 3, 4, 7, 9]

###### 用于处理将要插入重复数值的情况，并返回位置

In [59]:
bisect.bisect_left(data, 4)

2

In [60]:
bisect.bisect_right(data, 4)

3

###### 对应的插入函数是insort_left和insort_right

In [62]:
bisect.insort_left(data, 4)

In [63]:
data

[2, 3, 4, 4, 4, 7, 9]

In [64]:
seq = [4, 5, 6, 3, 4, 7, 2]
seq[1:4]

[5, 6, 3]

In [65]:
seq[3:4] = [6, 3]
seq

[4, 5, 6, 6, 3, 4, 7, 2]

In [66]:
seq[:5]

[4, 5, 6, 6, 3]

In [67]:
seq[3:]

[6, 3, 4, 7, 2]

In [68]:
seq[-4:]

[3, 4, 7, 2]

In [69]:
seq[::2]

[4, 6, 3, 7]

In [70]:
seq[::-1]

[2, 7, 4, 3, 6, 6, 5, 4]

#### Build-in Sequence Functions

###### enumerate()的用法说明
内置函数，枚举
对于一个可迭代的（iterable）/可遍历的对象（如列表、字符串），enumerate将其组成一个索引序列，利用它可以同时获得索引和值
enumerate多用于在for循环中得到计数

In [71]:
some_list = ['foo', 'baz', 'bar']
mapping = {}
for i,v in enumerate(some_list):
    mapping[v] = i
mapping

{'bar': 2, 'baz': 1, 'foo': 0}

In [72]:
list1 = ["这", "是", "一个", "测试"]
for i in range(len(list1)):
    print(i, list1[i])

0 这
1 是
2 一个
3 测试

In [73]:
list1 = ["这", "是", "一个", "测试"]
for index, item in enumerate(list1):
    print(index,item)

0 这
1 是
2 一个
3 测试

###### enumerate还可以接收第二个参数。用于指定索引起始值

In [74]:
list1 = ["这", "是", "一个", "测试"]
for index, item in enumerate(list1, 1):
    print(index, item)

1 这
2 是
3 一个
4 测试

###### 用于统计文件的行数
count = len(open(filepath,'r').readlines())
但是文件较大时可以用enumerate():

###### 
count = 0
for index, line in enumerate(open(filepath,'r')):
    count += 1

In [75]:
sorted([7, 1, 2, 3, 5, 0, 4, 2])

[0, 1, 2, 2, 3, 4, 5, 7]

In [76]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [78]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
zipped = zip(seq1,seq2)

In [79]:
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [80]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [81]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}:{1},{2}'.format(i, a, b))

0:foo,one
1:bar,two
2:baz,three

In [82]:
pitchers = [('Nolan', 'Ryan'),('Roger', 'Clemens'),
           ('Schilling', 'Curt')]
first_names, last_names = zip(*pitchers)
first_names

('Nolan', 'Roger', 'Schilling')

In [83]:
last_names

('Ryan', 'Clemens', 'Curt')

In [84]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

###### reversed()函数是返回序列seq的反向访问的迭代子，不改变原对象

In [88]:
list1 = ['google','runoob','taobao','baidu']
list1.reverse()
print("列表反转后：",list1)

列表反转后： ['baidu', 'taobao', 'runoob', 'google']

###### 1、参数是列表

In [85]:
l = [1, 2, 3, 4, 5]

In [89]:
ll = reversed(l)

In [90]:
ll

In [91]:
for i in ll:
    print(i,)

5
4
3
2
1

###### 第二次遍历为空

In [92]:
for i in ll:
    print(i)

In [93]:
l = [3, 4, 5, 6]
ll = reversed(l)

In [94]:
l

[3, 4, 5, 6]

In [95]:
ll

In [96]:
list(ll)

[6, 5, 4, 3]

###### list()第二次为空

In [97]:
list(ll)

[]

###### 2、 参数是元组

In [98]:
t = (4, 5, 6)
tt = reversed(t)

In [99]:
t

(4, 5, 6)

In [100]:
tt

In [101]:
tuple(tt)

(6, 5, 4)

In [102]:
tuple(tt)

()

###### 3、参数是字符串

In [103]:
s = 'abcc'
ss = reversed(s)

In [104]:
s

'abcc'

In [105]:
ss

In [106]:
list(ss)

['c', 'c', 'b', 'a']

In [107]:
list(ss)

[]

###### reversed()后，只在第一次遍历时返回值 
That’s because reversed creates an iterator, which is already spent when you’re calling list(ll) for the second time.

In [108]:
empty_dict = {}
d1 = {'a' : 'some value', 'b': [1,2,3,4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [109]:
d1[7] = 'an integer'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [110]:
d1['b']

[1, 2, 3, 4]

In [111]:
'b' in d1

True

In [112]:
d1[5] = 'some value'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [113]:
d1['dummy'] = 'another value'
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [114]:
del d1[5]

In [115]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [116]:
ret = d1.pop('dummy')
ret

'another value'

In [117]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [118]:
list(d1.keys())

['a', 'b', 7]

In [119]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [120]:
d1.update({'b' : 'foo', 'c' : 12})
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

In [121]:
mapping = dict(zip(range(5), reversed(range(5))))
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [122]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

###### hash()返回对象的哈希值，用整数表示。哈希值在字典查找时，可用于快速比较键的值

In [2]:
hash('string')

-3560090313763741865

In [3]:
hash((1, 2, (2, 3)))

1097636502276347782

In [7]:
hash((1, 2, [2, 3]))

TypeError: unhashable type: 'list'

###### 相等的数值，即使类型不一致，计算的哈希值是一样的。

In [4]:
hash(1.0)

1

In [5]:
hash(1)

1

In [6]:
hash(1.00)

1

In [8]:
set([2, 2, 2, 1, 3, 3])

{1, 2, 3}

In [9]:
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [10]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

In [11]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [12]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [13]:
a.intersection(b)

{3, 4, 5}

In [14]:
a & b

{3, 4, 5}

In [15]:
c = a.copy()

In [16]:
c |= b

In [17]:
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [18]:
d = a.copy()
d &= b

In [19]:
d

{3, 4, 5}

In [20]:
my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)}
my_set

{(1, 2, 3, 4)}

In [21]:
a_set = {1, 2, 3, 4, 5}
{1, 2, 3}.issubset(a_set)

True

In [22]:
a_set.issuperset({1, 2, 3})

True

In [23]:
{1, 3, 2} == {3, 2, 1}

True

In [2]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[x.upper() for x in strings if len(x) < 2]

['A']

In [3]:
unique_lengths = {len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [4]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [5]:
loc_mapping = {val : index for index, val in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [6]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
            ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

In [8]:
result = [name for names in all_data for name in names
         if name.count('a') >= 2]
result

['Maria', 'Natalia']

In [9]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
some_tuples = [(1, 1, 3), (4, 5, 6), (7, 4, 9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 1, 3, 4, 5, 6, 7, 4, 9]

In [11]:
[[x for x in tup] for tup in some_tuples]

[[1, 1, 3], [4, 5, 6], [7, 4, 9]]

In [15]:
def func():
    a = []
    for i in range(5):
        a.append(i)
a

[]

In [16]:
a = None
def bind_a_variable():
    global a
    a = []
bind_a_variable()
print(a)

[]

In [17]:
def f():
    a = 5
    b = 6
    c = 7
    return{'a': a, 'b': b, 'c': c}

###### 数据清洗

In [3]:
states = ['   Alabama ', 'georgia!','', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']

In [25]:
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value)
        value = value.title()
        result.append(value)
    return result

In [28]:
clean_strings(states)

['Alabama',
 'Georgia',
 '',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolia',
 'West Virgiia']

In [5]:
import re

def remove_punctuation(value):
    return re.sub('[!#?]','',value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

In [6]:
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 '',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [15]:
for x in map(remove_punctuation, states):
    print(x)

   Alabama
georgia

Georgia
georgia
FlOrIda
south   carolina
West virginia

In [8]:
theString = 'saaaay yes or no yaaaaas'
a = print(theString.strip('say'))

 yes or no

###### 
s.strip()返回删除位于字符串s首尾的，位于删除序列rm内的字串后的字符串，rm为空时，默认删除空白符(就是空格，回车，制表符等)

In [11]:
theString = 'saaaayno or no yaaaaas'
a = print(theString.strip('say'))

no or no

###### str.title()返回所有单词的首字母都是大写的一个副本

In [14]:
str = 'this is a string'
print(str.title())

This Is A String

In [19]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

In [17]:
strings.sort(key = lambda x: len(set(list(x))))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

In [21]:
strings[0]

'foo'

In [22]:
list(strings[0])

['f', 'o', 'o']

In [23]:
set(list(strings[0]))

{'f', 'o'}

In [24]:
len(set(list(strings[0])))

2

In [25]:
set(list(strings[1]))

{'a', 'c', 'd', 'r'}

In [26]:
len(set(list(strings[1])))

4

In [27]:
some_dict = {'a': 1, 'b': 2, 'c': 3}
for key in some_dict:
    print(key)

a
b
c

In [28]:
dict_iterator = iter(some_dict)
dict_iterator

In [29]:
list(dict_iterator)

['a', 'b', 'c']

In [30]:
def squares(n = 10):
    print('Generating squares from 1 to {0}'.format(n ** 2))
    for i in range(1, n + 1):
        yield i ** 2

In [31]:
gen = squares()
gen

In [32]:
list(gen)

Generating squares from 1 to 100

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [33]:
gen = (x ** 2 for x in range(100))
gen

In [34]:
list(gen)

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801]

In [36]:
sum(x ** 2 for x in range(100))

328350

In [37]:
dict((i, i**2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [56]:
import itertools
first_letter = lambda x: x[0]
name = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']
names = sorted(name)
for letter,names in itertools.groupby(names, first_letter):
    print(letter, list(names))

A ['Adam', 'Alan', 'Albert']
S ['Steven']
W ['Wes', 'Will']

In [ ]:
import itertools
first_letter = lambda x: x[0]
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']
for letter,names in itertools.groupby(names, first_letter):
    print(letter, list(names))

In [40]:
float('1.2345')

1.2345

In [41]:
float('something')

ValueError: could not convert string to float: 'something'

In [ ]:
def attempt_float(x):

In [55]:
name = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']
names = sorted(name)
names

['Adam', 'Alan', 'Albert', 'Steven', 'Wes', 'Will']

###### itertools 的groupby
举例：身高分类
在groupby之前要用sorted把首字母或者数值排序

In [57]:
from itertools import *

def height_class(h):
    if h > 180:
        return 'tall'
    elif h < 160:
        return 'short'
    else:
        return 'middle'
    
friends = [191, 183, 177, 193, 160, 153, 170]
friends = sorted(friends, key = height_class)

for m,n in groupby(friends, key = height_class):
    print(m)
    print(list(n))

middle
[177, 160, 170]
short
[153]
tall
[191, 183, 193]

In [58]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [59]:
attempt_float('1.2344')

1.2344

In [60]:
attempt_float('something')

'something'

In [63]:
float((1,2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [64]:
def attemp_float(x):
    try:
        return float(x)
    except(TypeError, ValueError):
        return x

In [65]:
attemp_float((1,2))

(1, 2)

In [66]:
%pushd book-materials

[WinError 2] 系统找不到指定的文件。: 'book-materials'
D:\我的文档\learn-python\pda

['D:\\我的文档\\learn-python\\pda']

In [67]:
path = 'G:\python\pydata-book-2nd-edition\examples\segismundo.txt'
f = open(path)

In [83]:
lines = [x.rstrip() for x in open(path)]
lines
#lines_to_str = lines.decode('utf-8')

['Sue帽a el rico en su riqueza,',
 'que m谩s cuidados le ofrece;',
 '',
 'sue帽a el pobre que padece',
 'su miseria y su pobreza;',
 '',
 'sue帽a el que a medrar empieza,',
 'sue帽a el que afana y pretende,',
 'sue帽a el que agravia y ofende,',
 '',
 'y en el mundo, en conclusi贸n,',
 'todos sue帽an lo que son,',
 'aunque ninguno lo entiende.',
 '']

###### unicode转bytes  encode(‘utf-8')
##### 正确读取非英文字符

In [113]:
#lines = [x.rstrip() for x in open(path, 'rb')]
lines = [x.decode('utf-8') for x in open(path, 'rb')]
lines
#lines_to_str = lines.encode('utf-8')

['Sueña el rico en su riqueza,\n',
 'que más cuidados le ofrece;\n',
 '\n',
 'sueña el pobre que padece\n',
 'su miseria y su pobreza;\n',
 '\n',
 'sueña el que a medrar empieza,\n',
 'sueña el que afana y pretende,\n',
 'sueña el que agravia y ofende,\n',
 '\n',
 'y en el mundo, en conclusión,\n',
 'todos sueñan lo que son,\n',
 'aunque ninguno lo entiende.\n',
 '\n']

In [114]:
f.close()

In [70]:
with open(path) as f:
    lines = [x.rstrip() for x in f]

In [88]:
f = open(path)
f.read(10)

'Sue帽a el r'

In [72]:
f2 = open(path, 'rb')
f2.read(10)

b'Sue\xc3\xb1a el '

###### f.tell()读取文件的字节数

In [80]:
f.tell()

11

In [89]:
f2.tell()

10

In [90]:
import sys
sys.getdefaultencoding()

'utf-8'

In [91]:
f.seek(3)

3

In [92]:
f.read(1)

'帽'

In [93]:
f.close()
f2.close()

In [95]:
with open('tmp.txt','w')as handle:
    handle.writelines(x for x in open(path) if len(x) > 1)
with open('tmp.txt') as f:
    lines = f.readlines()
lines

['Sue帽a el rico en su riqueza,\n',
 'que m谩s cuidados le ofrece;\n',
 'sue帽a el pobre que padece\n',
 'su miseria y su pobreza;\n',
 'sue帽a el que a medrar empieza,\n',
 'sue帽a el que afana y pretende,\n',
 'sue帽a el que agravia y ofende,\n',
 'y en el mundo, en conclusi贸n,\n',
 'todos sue帽an lo que son,\n',
 'aunque ninguno lo entiende.\n']

In [96]:
import os
os.remove('tmp.txt')

In [118]:
with open(path) as f:
    chars = f.read(10)
chars

str

In [99]:
with open(path, 'rb') as f:
    data = f.read(10)
data

b'Sue\xc3\xb1a el '

In [101]:
data.decode('utf-8')

'Sueña el '